/*
 * This file is part of springwhiz.
 *
 * springwhiz is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * springwhiz is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with springwhiz.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    font-family: Courier, serif;
    background-color: #BEBEBE;
}
a, a:visited, a:link, a:active  {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #333;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    padding: 20px 0px 10px 0px;
}
p {
    padding: 5px 0px 5px 0px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
#header, #content, form {
    text-align: center;
}
#header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
#topmenu {
    text-align: center;
    font-size: 12px;
}
#footer {
    text-align: center;
    font-size:10px;
    padding: 10px;
    color: #333;
}
#footer a {
    margin-left: 20px;
}
#content {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 14px;
}

#q {
    width: 80%;
    background-color: #BEBEBE;
    height: 30px;
    font-size: 27px;
    border: none;
}
#qcontainer {
    height: 30px;
    font-size: 27px;
}
#qcancel {
    font-size: 12px;
}

div.spacer_y30 {
    height: 30px;
}
div.spacer_y50 {
    height: 50px;
}
.js {
    display: none;
}

fieldset#auth * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
fieldset#auth label {
    display: block;
}
fieldset#auth input.inp {
    width: 300px;
    background-color: #BEBEBE;
    height: 30px;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid #333;
}

div#message {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}
div#message.message {
    background-color: green;
    color: white;
}
div#message.error {
    background-color: red;
    color: white;
}
