/*
 * This file is part of springwhiz.
 *
 * springwhiz is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * springwhiz is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with springwhiz.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    margin-top: 50px;
}
.centered {
    text-align: center;
}
.white {
    background-color: #FFF;
}
.js {
    display: none;
}
#footer {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #333;
}
#footer a {
    margin-left: 20px;
}
#start #q {
    width: 85%;
    height: 30px;
    font-size: 27px;
    line-height: 27px;
}
#start #modesymbol {
    width: 10%;
    height: 30px;
    font-size: 27px;
    line-height: 27px;
}
div.spacer_y10 {
    height: 10px;
}
div.spacer_y30 {
    height: 30px;
}
div.spacer_y50 {
    height: 50px;
}
#modes-info ul li span.badge {
   width: 10px;
   text-align: center;
}
.color-default {
    background-color: #000;
}
.color-bang {
    background-color: #8B4513;
}
.color-command {
    background-color: #1E90FF;
}
.color-bookmark {
    background-color: #00688B;
}
.color-ddg1st {
    background-color: #228B22;
}
