{% extends "base.html" %}

{% block title %}start{% endblock %}

{% block head %}
  <script src="{{ STATIC_URL }}js/typeahead-lists.js"></script>
  <script src="{{ STATIC_URL }}js/start.js"></script>
{% endblock %}

{% block content %}

<div class="spacer_y30"></div>
<div class="row">
  <div id="last-entries" class="span2">

    {% if notes_priv %}
      <ul class="unstyled">
        <li><strong>Your last notes</strong></li>
        {% for note in notes_priv %}
          <li>
            <i {% if note.share == 0 %}   class="fam-lock-add"
               {% elif note.share == 1 %} class="fam-group"
               {% elif note.share == 2 %} class="fam-world"{% endif %}></i>

            <a href="{{ note.get_absolute_url }}">
              {{ note.name|truncatechars:"18" }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if notes_open %}
      <ul class="unstyled">
        <li><strong>Last open notes</strong></li>
        {% for note in notes_open %}
          <li>
            <i class="fam-world"></i>
            <a href="{{ note.get_absolute_url }}">
              {{ note.name|truncatechars:"18" }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="span8">
    <div id="start" class="white centered hero-unit">
      <h1>
        springwhiz<br />
      </h1>
      <div class="spacer_y30"></div>

      {% if error %}
        <div class="text-error">{{ error }}</div>
        Your query was '{{ query }}'
        <div class="spacer_y30"></div>
      {% endif %}

      <form method="post" action="{% url index %}">
        {% csrf_token %}
        <div class="input-prepend">
          <span id="modesymbol" class="add-on">&gt;</span>
          <input type="hidden" id="mode" name="mode" value="unset">
          <input type="text" id="q" name="q" class="span6" autocomplete="off">
        </div>
      </form>

      <div class="spacer_y10"></div>
      <p class="lead muted">
        <span id="modeinfo">Enter search string or command</span>
        <a href="#" id="qcancel" class="js">[cancel]</a>
      </p>
      <div id="js-warning" class="text-error">
        Javascript seems to be disabled, please enable javascript for a better
        experience
      </div>
    </div>
  </div>
  <div id="modes-info" class="span2">
    <ul class="unstyled">
      <li><strong>DuckDuckGo</strong></li>
      <li>
        <span class="label color-default">&gt;</span>
        <span style="color:black">search duckduckgo</span>
      </li>
      <li>
        <span class="label color-bang">!</span>
        <span style="color:#8B4513">bang syntax search</span>
      </li>
      <li>
        <span class="label color-ddg1st">\</span>
        <span style="color:#228B22">go to first result</span>
      </li>
      <li><br /><strong>springwhiz</strong></li>
      <li>
        <span class="label color-command">@</span>
        <span style="color:#1E90FF">command</span>
      </li>
      <!-- <li> -->
      <!--   <span class="label color-bookmark">#</span> -->
      <!--   <span style="color:#00688B">bookmark</span> -->
      <!-- </li> -->
    </ul>

    <div class="spacer_y30"></div>

    {% if user.is_superuser %}{# temporarily #}

    <div>
      {% for item in active_tyd %}
        <strong>Currently working on</strong>
        {{ item.task }}<br />
        <a href="{% url tyd_end %}" class="btn btn-mini btn-danger pull-right">
          Stop timer
        </a>
        {{ item.start|timesince }}
      {% empty %}
        <strong>Tyd Tasks</strong>
        <form method="POST" action="{% url tyd_start %}">
          {% csrf_token %}
          <select class="span2" id="tydtask" name="tydtask">
            {% for item in tyd_tasks %}
              <option value="{{ item.pk }}">{{ item }}</option>
            {% endfor %}
          </select>
          <input type="submit" class="span2 btn btn-success"
                 value="Start Timer" />
        </form>
      {% endfor %}
    </div>

    {% endif %}{# temporarily #}
  </div>
</div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
