{% extends "base-qnavbar.html" %}

{% block title %}notepad{% endblock %}

{% block content %}
<h1>springwhiz
  <small>
    notepad
    <a href="/notepad/list/" class="btn btn-small btn-link">
      Show all notes
    </a>
  </small>
</h1>
<p>
</p>

<form id="notepad" method="POST" class="form-horizontal">
  {% csrf_token %}

  <h3>
    {{ note.name|truncatechars:"80" }}
    <small>
      <a class="btn btn-sma btn-link"
        href="/notepad/{{ note.shorthash }}/edit/">
        Edit
      </a>
    </small>
  </h3>
  <ul class="inline">
    <li class="pull-right">
      Last edited {{ note.last_edited|timesince }} ago |
      <a class="color-red"
         href="#remove">
        Remove
      </a>
    </li>
    <li>{{ note.text|wordcount }} words / {{ note.text|length }} chars</li>
    <li>|</li>
    <li>{{ note.get_share_display }}</li>
  </ul>

  <pre>{{ note.text|linenumbers }}</pre>
</form>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
