{% extends "base-qnavbar.html" %}

{% block title %}notepad{% endblock %}

{% block content %}

<form id="notepad" method="POST" class="form-horizontal">
  {% csrf_token %}


  <h3>
    <small class="pull-right">
      Last edited {{ note.last_edited|timesince }} ago
    </small>
    <small class="pull-right" style="padding-right: 50px">
      {{ note.get_share_display }}
    </small>
    <small class="pull-right" style="padding-right: 50px">
      {{ note.text|wordcount }} words / {{ note.text|length }} chars
    </small>
    {{ note.name }}
  </h3>

  <pre>{{ note.text|linenumbers }}</pre>
</form>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
