{% extends "base-qnavbar.html" %}

{% block head %}
  <link href="{{ STATIC_URL }}libs/google-code-prettify/prettify.css"
        rel="stylesheet" />
  <script src="{{STATIC_URL }}libs/google-code-prettify/prettify.js"></script>
{% endblock %}

{% block bodyargs %}onload="prettyPrint()"{% endblock %}

{% block title %}notepad{% endblock %}

{% block content %}
<h1>springwhiz
  <small>
    notepad
    <a href="/notepad/list/" class="btn btn-small btn-link">
      Show all notes
    </a>
  </small>
</h1>

{% block deletenotice %}{% endblock %}

<form id="notepad" method="POST" class="form-horizontal">
  {% csrf_token %}
  <h3>
    {{ note.name|truncatechars:"80" }}
    <small>
      {% block actions %}
        {% if note.user == user %}
          <a class="btn btn-link"
            href="/notepad/{{ note.shorthash }}/edit/">
            Edit
          </a>
          <a class="btn btn-link color-red"
            href="/notepad/{{ note.shorthash }}/delete/">
            Remove
          </a>
        {% else %}
          Shared by {{ note.user }}
        {% endif %}
      {% endblock %}
    </small>
  </h3>
  {% if note.user == user and note.share %}
    <div class="alert alert-inf">
      <p>
        {% if note.share == 1 %}
          <strong>This note is shared at url:</strong>
          <a href="{{ BASE_URL }}notepad/{{ note.longhash}}/">
            {{ BASE_URL }}notepad/{{ note.longhash}}/
          </a>
          <br>
          <strong>Only people that know this url can view the note.</strong>
        {% elif note.share == 2 %}
          <strong>This note is publicly shared at url:</strong>
          <a href="{{ BASE_URL }}notepad/{{ note.shorthash}}/">
            {{ BASE_URL }}notepad/{{ note.shorthash}}/
          </a>
        {% endif %}
      </p>
    </div>
  {% endif %}
  <ul class="inline">
    <li class="pull-right">
      Last edited {{ note.last_edited|timesince }} ago
      on {{ note.last_edited|date:"D Y-m-d H:i:s" }}
    </li>
    <li>{{ note.text|wordcount }} words / {{ note.text|length }} chars</li>
    {% if note.user == user %}
      <li>|</li>
      <li>{{ note.get_share_display }}</li>
    {% endif %}
    <li>|</li>
    <li>
      {% if note.share == 1 %}
        <a href="/notepad/{{ note.longhash }}/raw/">
          View raw
        </a>
      {% else %}
        <a href="/notepad/{{ note.shorthash }}/raw/">
          View raw
        </a>
      {% endif %}
    </li>
  </ul>

  <pre class="prettyprint">{{ note.text|linenumbers }}</pre>
</form>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
