{% extends "base-qnavbar.html" %}

{% block title %}notepad{% endblock %}

{% block content %}
  <h1>springwhiz <small>notepad</small></h1>

  <h3>
    Your notes
    {% if user.is_active %}
      <small>
        <a class="btn btn-link" href="/notepad/">Create a new note</a>
      </small>
    {% endif %}
  </h3>

  <table id="notepad-notes"
         class="table table-hover table-striped table-condensed">
    {% if notes_priv %}
      <thead>
        <tr>
          <th>Name</th>
          <th>Edit</th>
          <th>Text</th>
          <th>Type</th>
          <th>Last edited</th>
          <th>Shared</th>
        </tr>
      </thead>
    {% endif %}
    <tbody>
      {% for note in notes_priv %}
        <tr>
          <td class="ms">
            {% if note.share == 1 %}
              <a href="/notepad/{{ note.longhash }}/">
                {{ note.name|truncatechars:"26" }}
              </a>
            {% else %}
              <a href="/notepad/{{ note.shorthash }}/">
                {{ note.name|truncatechars:"26" }}
              </a>
            {% endif %}
          </td>
          <td>
            <a href="/notepad/{{ note.shorthash }}/edit/">
              <i class="fam-page-error"></i>
            </a>
          </td>
          <td class="ms">
            {{ note.text|truncatechars:"70" }}
          </td>
          <td>
            {{ note.get_language_display }}
          </td>
          <td>
            <span class="tt"
                  title="{{ note.last_edited|date:"D Y-m-d H:i:s" }}">
              {{ note.last_edited|timesince }} ago
            </span>
          </td>
          <td class="tt" title="{{ note.get_share_display }}">
            <i {% if note.share == 0 %}   class="fam-lock-add"
               {% elif note.share == 1 %} class="fam-group"
               {% elif note.share == 2 %} class="fam-world"{% endif %}></i>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">
            {% if user.is_active %}
              No notes yet. Click <a href="/notepad/">here</a> to
              create a new note.
            {% else %}
              You are not logged in. Please register and login to
              create a note.
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Open notes shared by other users</h3>
  <table id="notepad-notes"
         class="table table-hover table-striped table-condensed">
    {% if notes_open %}
      <thead>
        <tr>
          <th>Name</th>
          <th>Text</th>
          <th>Type</th>
          <th>Last edited</th>
          <th>User</th>
        </tr>
      </thead>
    {% endif %}
    <tbody>
      {% for note in notes_open %}
        <tr>
          <td class="ms">
            {% if note.share == 1 %}
              <a href="/notepad/{{ note.longhash }}/">
                {{ note.name|truncatechars:"26" }}
              </a>
            {% else %}
              <a href="/notepad/{{ note.shorthash }}/">
                {{ note.name|truncatechars:"26" }}
              </a>
            {% endif %}
          </td>
          <td class="ms">
            {{ note.text|truncatechars:"70" }}
          </td>
          <td>
            {{ note.get_language_display }}
          </td>
          <td>
            <span class="tt"
                  title="{{ note.last_edited|date:"D Y-m-d H:i:s" }}">
              {{ note.last_edited|timesince }} ago
            </span>
          </td>
          <td>
            {{ note.user }}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">
            There aren't any publicly shared notes.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
