{% extends "base.html" %}

{% block title %}tyd{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>springwhiz <small>tyd [time recording application]</small></h1>

  <ul class="nav nav-pills">
    <li><a href="{% url tyd_index %}">Dashboard</a></li>
    <li class="active">
      <a href="#">Manage categories/projects/tasks</a>
    </li>
  </ul>

  <h2>Categories</h2>
  <div class="row">
    <div class="span9">
      <ul class="inline">
        {% for item in categories %}
          <li>
            <span class="label label-info">
              {{ item.name }}
              <a href="javascript:;">
                <i class="fam-cross"></i>
              </a>
            </span>
          </li>
        {% empty %}
          <li>Add a category to proceed...</li>
        {% endfor %}
      </ul>
    </div>
    <div class="span3">
      {{ category_form.non_field_errors }}
      <form method="POST">
        {% csrf_token  %}
        <ul class="unstyled">
          {% if category_form.name.errors %}
            <li>
              <span class="text-error">
                {{ category_form.name.errors|join:";" }}
              </span>
            </li>
          {% endif %}
          <li>
            <input type="submit" name="category_submit" class="btn btn-link"
                   value="add" />
            {{ category_form.name }}
          </li>
        </ul>
      </form>
    </div>
  </div>

  {% regroup projects by category as rprojects %}

  <h2>Projects</h2>
  <div class="row">
    <div class="span9">
      <table>
        {% for project in rprojects %}
          <tr>
            <th>
              {{ project.grouper }}
            </th>
            <td>
              <ul class="inline">
                {% for item in project.list %}
                  <li>
                    <span class="label label-info">
                      {{ item.name }}
                      <a href="javascript:;">
                        <i class="fam-cross"></i>
                      </a>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">
              Add a project to proceed...
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="span3">
      {{ project_form.non_field_errors }}
      <form method="POST">
        {% csrf_token  %}
        <ul class="unstyled">
          {% if project_form.category.errors %}
            <li>
              <span class="text-error">
                {{ project_form.category.errors|join:";" }}
              </span>
            </li>
          {% endif %}
          <li>
            {{ project_form.category }}
          </li>
          {% if project_form.name.errors %}
            <li>
              <span class="text-error">
                {{ project_form.name.errors|join:";" }}
              </span>
            </li>
          {% endif %}
          <li>
            <input type="submit" name="project_submit" class="btn btn-link"
                   value="add" />
            {{ project_form.name }}
          </li>
        </ul>
      </form>
    </div>
  </div>

  {% regroup tasks by project as rtasks %}

  <h2>Tasks</h2>
  <div class="row">
    <div class="span9">
      <table>
        {% for task in rtasks %}
          <tr>
            <th>
              {{ task.grouper.category }}
            </th>
            <td>
              {{ task.grouper.name }}
            </td>
            <td>
              <ul class="inline">
                {% for item in task.list %}
                  <li>
                    <span class="label label-info">
                      {{ item.name }}
                      <a href="javascript:;">
                        <i class="fam-cross"></i>
                      </a>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">
              Finally, add a task to start managing your time...
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="span3">
      {{ task_form.non_field_errors }}
      <form method="GET" action="">
        {% csrf_token  %}
        <ul class="unstyled">
          {% if task_form.project.errors %}
            <li>
              <span class="text-error">
                {{ task_form.project.errors|join:";" }}
              </span>
            </li>
          {% endif %}
          <li>
            {{ task_form.project }}
          </li>
          {% if task_form.name.errors %}
            <li>
              <span class="text-error">
                {{ task_form.name.errors|join:";" }}
              </span>
            </li>
          {% endif %}
          <li>
            <input type="submit" class="btn btn-link" value="add" />
            {{ task_form.name }}
          </li>
        </ul>
      </form>
    </div>
  </div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
