{% extends "base.html" %}

{% block title %}tyd{% endblock %}

{% block content %}
<h1>springwhiz <small>tyd [time recording application]</small></h1>

<ul class="nav nav-pills">
  <li><a href="{% url 'tyd_index' %}">Dashboard</a></li>
  <li class="active">
    <a href="#">Manage categories/projects/tasks</a>
  </li>
</ul>

{# Categories #}
<h3>Categories</h3>
<div class="row">
  <div class="span3">
    <h4>add a new category</h4>
    {{ category_form.non_field_errors }}
    <form method="POST">
      {% csrf_token  %}
      <ul class="inline">
        {% if category_form.name.errors %}
          <li>
            <span class="text-error">
              {{ category_form.name.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Category name
          {{ category_form.name }}
          <input type="submit" name="category_submit"
                 class="btn btn-success span3" value="add" />
        </li>
      </ul>
    </form>
  </div>
  <div class="span8">
    <h4>category list</h4>
    <ul class="inline">
      {% for item in categories %}
        <li>
          <span class="label label-info">
            {{ item.name }}
            <a href="javascript:;">
              <i class="fam-cross"></i>
            </a>
          </span>
        </li>
      {% empty %}
        <li>Add a category to proceed...</li>
      {% endfor %}
    </ul>
  </div>
</div>

<hr />

<h3>Projects</h3>
{% regroup projects by category as rprojects %}
<div class="row">
  <div class="span3">
    <h4>add a new project</h4>
    {{ project_form.non_field_errors }}
    <form method="POST">
      {% csrf_token  %}
      <ul class="unstyled">
        {% if project_form.category.errors %}
          <li>
            <span class="text-error">
              {{ project_form.category.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Category
          {{ project_form.category }}
        </li>

        {% if project_form.name.errors %}
          <li>
            <span class="text-error">
              {{ project_form.name.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Project name
          {{ project_form.name }}
        </li>

        {% if project_form.hours_reserved.errors %}
          <li>
            <span class="text-error">
              {{ project_form.hours_reserved.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Hours reserved for project
          {{ project_form.hours_reserved }}
          <input type="submit" name="project_submit"
                 class="btn btn-success span3"
                 value="add" />
        </li>
      </ul>
    </form>
  </div>
  <div class="span8">
    <h4>project list</h4>
    <table class="table table-hover">
      {% for project in rprojects %}
        <tr>
          <th>
            {{ project.grouper }}
          </th>
          <td>
            <ul class="inline">
              {% for item in project.list %}
                <li>
                  <span class="label label-info">
                    {{ item.name }}
                    <a href="javascript:;">
                      <i class="fam-cross"></i>
                    </a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">
            Add a project to proceed...
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<hr />

<h3>Tasks</h3>
{% regroup tasks by project as rtasks %}
<div class="row">
  <div class="span3">
    <h4>add a new task</h4>
    {{ task_form.non_field_errors }}
    <form method="POST">
      {% csrf_token  %}
      <ul class="unstyled">
        {% if task_form.project.errors %}
          <li>
            <span class="text-error">
              {{ task_form.project.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Category - Project
          {{ task_form.project }}
        </li>

        {% if task_form.name.errors %}
          <li>
            <span class="text-error">
              {{ task_form.name.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Task name
          {{ task_form.name }}
        </li>

        {% if task_form.hours_reserved.errors %}
          <li>
            <span class="text-error">
              {{ task_form.hours_reserved.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Hours reserved for project
          {{ task_form.hours_reserved }}
        </li>

        {% if task_form.rate.errors %}
          <li>
            <span class="text-error">
              {{ task_form.rate.errors|join:";" }}
            </span>
          </li>
        {% endif %}
        <li>
          Rate per hour
          {{ task_form.rate }}
        </li>
        <li>
          <input type="submit" name="task_submit"
                 class="btn btn-success span3" value="add" />
        </li>
      </ul>
    </form>
  </div>
  <div class="span8">
    <h4>task list</h4>
    <table class="table table-hover">
      {% for task in rtasks %}
        <tr>
          <th>
            {{ task.grouper.category }}
          </th>
          <td>
            {{ task.grouper.name }}
          </td>
          <td>
            <ul class="inline">
              {% for item in task.list %}
                <li>
                  <span class="label label-info">
                    {{ item.name }}
                    <a href="javascript:;">
                      <i class="fam-cross"></i>
                    </a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">
            Finally, add a task to start recording your time...
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
