{% extends "base.html" %}

{% block title %}notepad{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/syntaxhl.css">
{% endblock %}

{% block content %}
<h1>springwhiz
  <small>
    notepad
    <a href="{% url notepad_list %}" class="btn btn-small btn-link">
      Show all notes
    </a>
  </small>
</h1>

{% block deletenotice %}{% endblock %}

<form id="notepad" method="POST" class="form-horizontal">
  {% csrf_token %}
  <h3>
    {{ note.name|truncatechars:"80" }}
    <small>
      {% block actions %}
        {% if note.user == user %}
          <a class="btn btn-link"
            href="{% url notepad_update note.shorthash %}">
            Edit
          </a>
          <a class="btn btn-link color-red"
            href="{% url notepad_delete note.shorthash %}">
            Remove
          </a>
        {% else %}
          Shared by {{ note.user }}
        {% endif %}
      {% endblock %}
    </small>
  </h3>
  {% if note.share %}
    <div class="alert alert-inf">
      <p>
        {% if note.share == 1 %}
          <strong>This note is shared at url:</strong>
          <a href="{{ note.get_absolute_url }}">
            {{ note.get_absolute_url }}
          </a>
          <br>
          <strong>Only people that know this url can view the note.</strong>
        {% elif note.share == 2 %}
          <strong>This note is publicly shared at url:</strong>
          <a href="{{ note.get_absolute_url }}">
            {{ note.get_absolute_url }}
          </a>
        {% endif %}
      </p>
    </div>
  {% endif %}
  <ul class="inline">
    <li class="pull-right">
      Last edited {{ note.last_edited|timesince }} ago
      on {{ note.last_edited|date:"D Y-m-d H:i:s" }}
    </li>
    <li>{{ note.get_language_display }}</li>
    <li>|</li>
    <li>{{ note.text|wordcount }} words / {{ note.text|length }} chars</li>
    <li>|</li>
    <li>{{ note.get_share_display }}</li>
    <li>|</li>
    <li>
      {% if note.share == 1 %}
        <a href="{% url notepad_detail_raw note.longhash %}">
          View raw
        </a>
      {% else %}
        <a href="{% url notepad_detail_raw note.shorthash %}">
          View raw
        </a>
      {% endif %}
    </li>
    {% if note.language == "markdown" or note.language == "restructuredtext" %}
      <li>|</li>
      <li>
        {% if note.share == 1 %}
          <a href="{% url notepad_detail_rendered note.longhash %}">
            View rendered
          </a>
        {% else %}
          <a href="{% url notepad_detail_rendered note.shorthash %}">
            View rendered
          </a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
</form>
{{ note.text_highlighted|safe }}
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
