{% extends "base-qnavbar.html" %}

{% block title %}notepad{% endblock %}

{% block content %}
<h1>
  <small class="pull-right">
    {% block subheading %}new note{% endblock %}
  </small>
  springwhiz
  <small>
    notepad
    <a href="/notepad/list/" class="btn btn-small btn-link">
      Show all notes
    </a>
  </small>
</h1>

<form id="notepad" method="POST">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="controls controls-row">
    <div class="text-error"><strong>{{ form.name.errors|join:" " }}</strong></div>
    {{ form.name }}

    <div class="text-error"><strong>{{ form.language.errors|join:" " }}</strong></div>
    {{ form.language }}

    <div class="text-error"><strong>{{ form.share.errors|join:" " }}</strong></div>
    {{ form.share }}

    <button class="btn btn-small btn-link pull-right">
      <i class="fam-disk-multiple"></i>
    </button>
  </div>

  <div class="controls controls-row">
    <div class="text-error"><strong>{{ form.text.errors|join:" " }}</strong></div>
    {{ form.text }}
  </div>

</form>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
