{% extends "base.html" %}

{% block title %}start{% endblock %}

{% block content %}


<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
    <div id="start" class="white centered hero-unit">
      <h1>
        springwhiz<br />
      </h1>
      <div class="spacer_y30"></div>

      <form method="post" action="/">
        {% csrf_token %}
        <div class="input-prepend">
          <span id="modesymbol" class="add-on">&gt;</span>
          <input type="hidden" id="mode" name="mode" value="unset">
          <input type="text" id="q" name="q" class="span6" autocomplete="off">
        </div>
      </form>

      <div class="spacer_y10"></div>
      <p class="lead muted">
        <span id="modeinfo">Enter search string or command</span>
        <a href="#" id="qcancel" class="js">[cancel]</a>
      </p>
    </div>
  </div>
  <div class="span2 muted">
    <ul class="unstyled">
      <li>&gt; search duckduckgo</li>
      <li>! bang syntax search</li>
      <li>@ command</li>
      <li># bookmark</li>
      <li>\ go to first search result</li>
    </ul>
  </div>
</div>


{% include "help.inc.html" %}

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
