{% extends "base.html" %}

{% block head %}
  <script src="{{ STATIC_URL }}js/start.js"></script>
  <script>
    $(document).ready(start);
  </script>
{% endblock %}

{% block title %}start{% endblock %}

{% block content %}
<div class="spacer_y30"></div>
<form method="post" action="/">
  {% csrf_token %}
  <div id="qcontainer">
    <span id="modesymbol">&gt;</span>
    <input type="hidden" id="mode" name="mode" value="unset">
    <input type="text" id="q" name="q" autocomplete="off">
  </div>
</form>

<div class="spacer_y30"></div>
<span id="modeinfo">Enter search string or command</span>
<a href="#" id="qcancel" class="js">[cancel]</a>
<div class="spacer_y30"></div>

{% include "help.inc.html" %}

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
