{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}

{% if message %}
  <div id="message" class="{{ msg_type }}">
    {{ message }}
  </div>
{% endif %}

<div class="spacer_y30"></div>
<form method="post" action="/{{ auth_type }}/">
  <fieldset id="auth">
    {% csrf_token %}
    <label for="username">username</label>
    <input class="inp" type="text" id="username" name="username">
    {% if auth_type == 'register' %}
      <label for="email">email</label>
      <input class="inp" type="text" id="email" name="email">
    {% endif %}
    <label for="password">password</label>
    <input class="inp" type="password" id="password" name="password">
    {% if auth_type == 'register' %}
      <label for="password2">password (again)</label>
      <input class="inp" type="password" id="password2" name="password2">
    {% endif %}
    <br>
    <input type="submit" id="submit" name="submit" value="{{ auth_type }}">
  </fieldset>
</form>

<div class="spacer_y30"></div>

{% include "help.inc.html" %}

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
