<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | springwhiz</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>springwhiz</h1>
        <div id="topmenu">
          {% if user.is_authenticated %}
          logged in as {{ user.username }}
            | <a href="/logout/">logout</a>
          {% else %}
            not logged in
            | <a href="/login/">login</a>
            | <a href="/register/">register</a>
          {% endif %}
          | <a id="helplink" href="#">help</a></small>
        </div>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <a href="#">Django</a>
      <strong>1.4.1</strong></a>
    <a href="#">Python</a>
      <strong>2.6.6</strong></a>
    </div>
    <script>
    </script>
  </body>
</html>

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
