<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{STATIC_URL}}libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}libs/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/start.js"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | springwhiz</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse"
             data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <p class="navbar-text pull-right">
              {% if user.is_authenticated %}
                logged in as {{ user.username }}
              {% else %}
                not logged in
              {% endif %}
          </p>

          <a class="brand" href="/">springwhiz</a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if user.is_authenticated %}
                <li><a class="nav" href="/logout/">logout</a></li>
              {% else %}
                <li><a class="nav" href="/login/">login</a></li>
                <li><a class="nav" href="/register/">register</a></li>
              {% endif %}
              <li>
                <a id="helplink" class="nav" href="javascript:;">help</a>
              </li>
            </ul>
            {% block navbar %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="spacer_y30"></div>
      {% if message %}
        <div id="message" class="alert alert-{{ msg_type }}">
          {{ message }}
        </div>
        <div class="spacer_y30"></div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <a href="#">Django</a>
      <strong>1.4.1</strong></a>
      <a href="#">Python</a>
      <strong>2.6.6</strong></a>
    </div>
  </body>
</html>

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
